<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.task.quartz.mapper.JobMapper">

  <select id="list" resultType="com.study.task.quartz.entity.domain.JobAndTrigger">
	SELECT
		job_details.`job_name`,
		job_details.`job_group`,
		job_details.`job_class_name`,
		cron_triggers.`cron_expression`,
		cron_triggers.`time_zone_id`,
		qrtz_triggers.`trigger_name`,
		qrtz_triggers.`trigger_group`,
		qrtz_triggers.`trigger_state`
	FROM
		`qrtz_job_details` job_details
		LEFT JOIN `qrtz_cron_triggers` cron_triggers ON job_details.`job_name` = cron_triggers.`trigger_name`
		AND job_details.`job_group` = cron_triggers.`trigger_group`
		LEFT JOIN `qrtz_triggers` qrtz_triggers ON qrtz_triggers.`trigger_name` = job_details.`job_name`
		AND qrtz_triggers.`trigger_group` = job_details.`job_group`
    </select>
</mapper>
